---
const phoneNumber = "905XXXXXXXXX"; 
---
<a 
  href={`https://wa.me/${phoneNumber}`} 
  target="_blank" 
  class="fixed bottom-10 right-10 z-[999] opacity-30 hover:opacity-100 hover:scale-110 transition-all duration-700 ease-in-out"
>
  <div class="bg-[#25d366] p-4 rounded-full shadow-2xl">
    <svg width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <path d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 1 1-7.6-10.6 8.38 8.38 0 0 1 3.8.9L21 3z"></path>
    </svg>
  </div>
</a>